// Footer

.footer-bg{
    background: #101010 !important;
}
footer{
    
    form{
        background-color: none !important;
        input{
            
        }
    }
//    padding: 0 4% ;
    padding:4% 4%;
    h2{
        text-align: center;
    }
}
.copyright{
    padding: 3% 0;
}